button {
    background-color: rgb(68, 100, 68);
    color: white;
    border: none;
    border-radius: 3px;
    height: 2em;
    margin-left: 0.5em;
}

button:hover {
    background-color: rgb(68, 175, 68);
}

.error {
    color: red;
    margin-left: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    text-align: center;
}